<template>
<div>
  <v-card>
    <v-card-media
      :src="blog.img"
      height="200px"
      class="outer"
    >
    <v-container fill-height fluid elevation-22 class="headlines">
      <v-layout fill-height>
        <v-flex xs12 align-end flexbox>
          <span class="headline">{{ blog.headline }}</span>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-media>
  <v-card-title primary-title>
      <div>
        <!-- <div class="headline">{{ blog.headline }}</div> -->
        <span class="grey--text">{{ blog.shortText }}</span>
      </div>
    </v-card-title>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue" v-if="readable" dark>Read</v-btn>
      <v-speed-dial
        v-model="fab"
        direction="left"
        hover
        transition="scale"
        v-if="!readable"
      >
        <v-btn
          slot="activator"
          color="gray"
          dark
          small
          fab
          hover
          v-model="fab"
        >
          <v-icon>lock</v-icon>
        </v-btn>
        <v-btn
          :key="i" v-for="(auth, i) in authTypes"
          fab
          dark
          small
          :color="auth.color"
          @click="openAuthDialog(auth)"
        >
          <v-icon>{{auth.icon}}</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-card-actions>
  </v-card>
  <v-dialog v-model="authDialog" max-width="500px">
    <v-card>
      <v-card-title>
        Private Post
      </v-card-title>
      <v-card-text class="text-xs-center">
        <p>Some of the posts on this site are only visable to readers that have connected with me on specific social networks. Login to one of the avalible sites to verify your connection to me.</p>
        <v-btn :color="authType.color" class="white--text">
          <v-icon left  center dark>{{ authType.icon }}</v-icon>
          {{ authType.text }}
        </v-btn>
      </v-card-text>
      <v-card-actions>
        <v-btn color="blue" @click.stop="authDialog = false">Close</v-btn>
        <v-spacer></v-spacer>
        <v-btn dark icon class="gray">
          <v-icon>info</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
  export default {
    props: ['blog'],
    data () {
      return {
        readable: false,
        fab: true,
        authDialog: false,
        authType: {},
        authTypes: []
      }
    },
    mounted () {
      this.authTypes = this.buildAuthTypes()
    },
    methods: {
      openAuthDialog (auth) {
        this.authDialog = true
        this.authType = auth
      },
      buildAuthTypes () {
        var authTypes = []
        if (this.blog.tags.public) {
          this.readable = true
          return authTypes
        }
        for (let auth in this.blog.tags) {
          if (!this.blog.tags[auth]) continue
          if (auth === 'facebook') {
            var authType = {label: auth, icon: 'fa-facebook', color: 'blue', text: 'Login to Facebook' }
          } else if (auth === 'google') {
            var authType = {label: auth, icon: 'fa-google-plus', color: 'red', text: 'Login to Google Plus' }
          } else if (auth === 'linkedin') {
            var authType = {label: auth, icon: 'fa-linkedin', color: 'blue', text: 'Login to LinkedIn' }
          }
        }
        return authTypes
      }
    }
  }
</script>

<style scoped>
.outer {
  position:relative;
  width: auto;
  height: 200px;
}
.outer:first-child {
  position: relative;
}
.outer:first-child::after {
  display: block;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top:0;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.headlines {
  z-index: 5;
}
</style>
