<template>
<div>
  <v-card>
    <v-card-media
      :src="blog.img"
      height="500px"
      class="outer"
    >
    <v-container fill-height fluid elevation-22 class="headlines">
      <v-layout fill-height>
        <v-flex xs12 align-end flexbox>
          <span class="headline">{{ blog.headline }}</span>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-media>
  <v-card-title primary-title>
      <div>
        <!-- <div class="headline">{{ blog.headline }}</div> -->
        <span class="grey--text">{{ blog.shortText }}</span>
      </div>
    </v-card-title>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue" v-if="blog.readable" dark>{{ buttonName }}</v-btn>
      <v-speed-dial
        v-model="fab"
        direction="left"
        hover
        transition="scale"
        v-if="!blog.readable"
      >
        <v-btn
          slot="activator"
          color="gray"
          dark
          small
          fab
          hover
          v-model="fab"
        >
          <v-icon>lock</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          color="blue"
          @click="openAuthDialog('facebook')"
        >
          <v-icon>fa-facebook</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          color="red"
          @click="openAuthDialog('google')"
        >
          <v-icon>fa-google-plus</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          color="blue"
          @click="openAuthDialog('linkedin')"
        >
          <v-icon>fa-linkedin</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-card-actions>
    <v-slide-y-transition>
      <v-card-text v-show="show">
        {{ blog.longText }}
      </v-card-text>
    </v-slide-y-transition>
  </v-card>
  <v-dialog v-model="authDialog" max-width="500px">
    <v-card>
      <v-card-title>
        Private Post
      </v-card-title>
      <v-card-text class="text-xs-center">
        <p>Some of the posts on this site are only visable to readers that have connected with me on specific social networks. Login to one of the avalible sites to verify your connection to me.</p>
        <v-btn :color="authType.color" class="white--text">
          <v-icon left  center dark>{{ authType.icon }}</v-icon>
          {{ authType.text }}
        </v-btn>
      </v-card-text>
      <v-card-actions>
        <v-btn color="blue" @click.stop="authDialog = false">Close</v-btn>
        <v-spacer></v-spacer>
        <v-btn dark icon class="gray">
          <v-icon>info</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
  export default {
    data () {
      return {
        blog: {
          id: 15,
          img: 'https://placeimg.com/2260/1200/people',
          headline: 'Featured Blog Post',
          shortText: 'A Featured Some long form discription of what the post is and why its important and should be read',
          readable: true
        },
        show: false,
        fab: false,
        authDialog: false,
        authType: {
          link: '',
          icon: '',
          color: '',
          text: ''
        }
      }
    },
    computed: {
      buttonName () {
        if (this.blog.readable)
          return 'Read'
        else
          return 'Private'
      }
    },
    methods: {
      openAuthDialog (authType) {
        this.authDialog = true
        if (authType === 'facebook') {
          this.authType.icon = 'fa-facebook'
          this.authType.color = 'blue'
          this.authType.text = 'Login to Facebook'
        } else if (authType === 'google') {
          this.authType.icon = 'fa-google-plus'
          this.authType.color = 'red'
          this.authType.text = 'Login to Google Plus'
        } else if (authType === 'linkedin') {
          this.authType.icon = 'fa-linkedin'
          this.authType.color = 'blue'
          this.authType.text = 'Login to Linked In'
        }
      }
    }
  }
</script>

<style scoped>
.outer {
  position:relative;
  width: auto;
  height: 1200px;
}
.outer:first-child {
  position: relative;
}
.outer:first-child::after {
  display: block;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top:0;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.headlines {
  z-index: 5;
}
</style>
