<template>
  <v-layout row wrap>
    <v-flex xs12 pa-4 >
      <h3>Filter</h3>
      <v-btn-toggle mandatory v-model="filterType" class="my-2">
        <v-btn flat @click="addAllTags()">
          All Tags
        </v-btn>
        <v-btn flat @click="removeAllTags()">
          Custom
        </v-btn>
      </v-btn-toggle>
      <v-divider class="mb-2"></v-divider>
      <v-chip elevation-20 v-for="(tag, i) in filters" :key="i" :color="tag.color" text-color="white" @click="updateTag(tag.label)">
        <v-avatar :class="tag.avatarColor">{{ tag.count }}</v-avatar>
        {{ tag.label }}
      </v-chip>
      <v-divider class="mt-2"></v-divider>
    </v-flex>
    <v-flex :key="i" v-for="(blog, i) in filteredBlogs" xs10  md4 pa-4>
      <blog-card :blog="blog" ></blog-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: ['scroll'],
    data () {
      return {
        filterType: 0,
        blogs: [],
        filters: []
      }
    },
    mounted () {
      this.blogs = this.$store.getters.GET_BLOGS
      this.filters = this.$store.getters.GET_FILTERS
    },
    computed: {
      filteredBlogs () {
          var blogs = []
          var activeTags = []
          var addedBlogs = []
          for (let filter of this.filters) {
            if (filter.isActive) {
              activeTags.push(filter.label)
            }
          }
          for (let blog of this.blogs) {
            for (var i = 0; i < blog.tags.length; i++) {
              if (activeTags.includes(blog.tags[i]) && !addedBlogs.includes(blog.id)) {
                blogs.push(blog)
                addedBlogs.push(blog.id)
              }
            }
          }
          return blogs
      }
    },
    methods: {
      addAllTags () {
        if (this.filterType === 1) {
          this.filterType = 0
        }
        for (let filter of this.filters) {
          filter.isActive = true
          filter.color = 'blue'
          filter.avatarColor = 'blue darken-4'
        }
      },
      removeAllTags () {
        if (this.filterType === 0) {
          this.filterType = 1
        }
        for (let filter of this.filters) {
          filter.isActive = false
          filter.color = 'grey'
          filter.avatarColor = 'grey darken-4'
        }
      },
      updateTag (tag) {
        if (this.scroll < 680) {
          this.$emit('scrollToFilter')
        }
        if (this.filterType === 0) {
          this.filterType = 1
          for (let filter of this.filters) {
            filter.isActive = !filter.isActive
            filter.color = 'grey'
            filter.avatarColor = 'grey darken-4'
          }
        }
        for (let filter of this.filters) {
          if (filter.label === tag) {
            filter.isActive = !filter.isActive
          }
          if (!filter.isActive) {
            filter.color = 'grey'
            filter.avatarColor = 'grey darken-4'
          } else {
            filter.color = 'blue'
            filter.avatarColor = 'blue darken-4'
          }
        }
      }
    }
  }
</script>
