<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      temporary
      fixed
      clipped
      app
    >
      <v-list>
        <v-list-tile
          router
          :to="item.to"
          :key="i"
          v-for="(item, i) in items"
          exact
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="clipped" class="top-most">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <!-- <v-bottom-nav absolute :value="true" color="transparent" v-if="isMobile" app>
      <v-btn flat color="teal" value="recent">
        <span>Recent</span>
        <v-icon>history</v-icon>
      </v-btn>
      <v-btn flat color="teal" value="favorites">
        <span>Favorites</span>
        <v-icon>favorite</v-icon>
      </v-btn>
      <v-btn flat color="teal" value="nearby">
        <span>Nearby</span>
        <v-icon>place</v-icon>
      </v-btn>
    </v-bottom-nav> -->
  </v-app>
</template>

<script>
  import Meta from 'mixins/meta'
  //import { mapGetters, mapActions, mapMutations } from 'vuex'
  export default {
    mixins: [Meta],
    data () {
      return {
        clipped: true,
        drawer: true,
        fixed: false,
        items: [
          { icon: 'home', title: 'Home', to: '/' },
          { icon: 'business_center', title: 'Resume', to: '/resume' },
          { icon: 'explore', title: 'Social Accounts', to: '/social' },
          { icon: 'info', title: 'Privacy Policy', to: '/privacy-policy' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Drew\'s BLog'
      }
    },
    computed: {
      isMobile () {
       switch (this.$vuetify.breakpoint.name) {
         case 'xs': return true
         case 'sm': return true
         case 'md': return true
         case 'lg': return false
         case 'xl': return false
       }
     }
    }
  }
</script>
<style scoped>
.top-most {
  z-index: 6;
}
</style>
