<template>
  <v-layout row wrap>
    <v-flex xs12>
      <h1>{{ title }}</h1>
      <blog-featured-post></blog-featured-post>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        title: 'Resume Page'
      }
    }
  }
</script>
