<template>
  <v-layout row wrap justify-center align-center v-scroll="onScroll">
    <v-flex xs12 sm10 md10 pa-4>
      <v-progress-linear v-bind:indeterminate="true" v-if="isLoadingList"></v-progress-linear>
      <blog-featured-post v-if="!isLoadingList"></blog-featured-post>
    </v-flex>
    <v-flex xs12 sm10 md10>
      <blog-list :scroll="offsetTop" @scrollToFilter="updateScroll()" v-if="!isLoadingList"></blog-list>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapActions } from 'vuex'
  export default {
    data () {
      return {
        isLoadingList: true,
        offsetTop: 0
      }
    },
    mounted () {
      this.loadWelcomeContent()
    },
    methods: {
      ...mapActions([
      'LOAD_BLOGS',
      'LOAD_FILTERS'
    ]),
      loadWelcomeContent () {
        this.LOAD_BLOGS().then(() => {
          this.LOAD_FILTERS().then(() => {
            this.isLoadingList = false
          })
        })
      },
      onScroll (e) {
        this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      },
      updateScroll () {
        document.documentElement.scrollTop = 680
        window.pageYOffset = 680
        this.offsetTop = 680
      }
    }
  }
</script>
